

    <p>仮　ここにもやっとを表示</p>
    <p>下にguess一覧を表示</p>

<% @guesses.each do |guess| %>
  <p>仮説</p>
  <%= "#{guess.story}" %>
  <%= link_to "仮説詳細",moyatto_guess_path(:moyatto_id,:id) %>
  <%end%>

    <p>登録ボタン</p>
      <%= link_to "仮説の登録をする",new_moyatto_guess_path %>