<div class="show_all">

  <%= render 'show-form' %>

  <div class="show_guess_sukkiri">

    <%= render 'show-content'%>

    <%= render 'show-guess-sukkiri' %>

  </div>

  <%= render 'show-advice' %>

</div>