<div class="wrappar">

  <%@sukkiris= @moyatto.sukkiris %>

  <% if @sukkiris.find_by(moyatto_status: '1') != nil%>

    <div class="show_all_clear">

  <%else%>

    <div class="show_all">

  <% end %>

    <%= render 'show-form' %>

    <div class="show_guess_sukkiri">

      <%= render 'show-content'%>

     <%= render 'show-guess-sukkiri' %>

    </div>

    <%= render 'show-advice' %>

  </div>  

</div>
